body {
    font-family: quicksand;
    background-color: hwb(135 41% 33% / 0.538);
}

/* || CALCULATOR FULL BODY || */
#calculatorFullBody {
    font-weight:bolder;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 311px;
    margin: auto;
    margin-top: 4rem;
    border-radius: 0.8rem;
}

/* || SCREEN || */
#screen {
    padding: 17px 17px;
    width: 89.3%;
    flex-wrap: nowrap; 
    border-radius: 0.8rem 0.8rem 0rem 0rem ;
}

#screenText {
    display: flex;
    flex-direction: column;
}

input {
    border: 0px;
    padding: 5px 12px;
    resize: vertical;    
}

.largeInput {
   font-size: 55px;
   text-align: right;
   padding-bottom: 1px;
   overflow-wrap: break-word;
}

.smallInput {
    text-align: right;
    font-size: 22px;
    padding-top: 6px;
}

/* || BUTTONS || */
#buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 12px;
    border-radius: 0rem 0rem 0.8rem 0.8rem;
}

button {
    padding: 20px 17px;
    font-size: x-large;
    margin: 6px;
    border-radius: 14%;
    width: 60px;
    border: none;
}

.btnOperator, .btnEqual {
    border-radius: 47%;
}

.btnClear {
    padding-left: 14px; 
    padding-right: 18px;  
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 7px;
    width: 132px;
} 

.zeroBtn {
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 7px;
    width: 132px;
}

/* || FOOTER || */
#footer {
    text-align: center;
    margin-top: 5.2rem;
}

svg {
    width: 18px;    
}

/* || COLOR || */
#calculatorFullBody {
    box-shadow: 10px 10px 10px -1px hwb(135deg 10% 73% / 63%), -7px -7px 7px -1px #c7ffd3cc;
}

#screen {
    background-color:#afd275;
}

#screenText {
    background-color: #2e563b;
    border-radius: 15px;
}

input {
    color: rgb(186, 220, 73);
    background-color: #2e563b;
}

::placeholder {
    color: rgb(30, 53, 44);
}

/* Screen shadow */
.smallInput {
    box-shadow: inset 3px 5px 5px 3px rgba(0, 0, 0, 0.3);
    border-radius:  0.725rem 0.725rem  0px 0px;
}

.largeInput {
    color: #ffffff;
    box-shadow: inset 4px 0px 5px 3px rgba(8, 13, 7, 0.3);
    border-radius: 0px 0px 0.725rem 0.725rem;
}

#buttons {
    background-color: #afd275;
}

/* Button shadow */
button {
    background-color: #afd275;
    box-shadow: 4px 4px 5px 1px #95b559,
                -3px -4px 10px #d7f5a4;
}

button {
    box-shadow: 4px 4px 5px #4450325e, -4px -4px 5px #c2ec81; 
}

/* Hover */
.btnNum:hover {
    color: rgb(229, 255, 208);
}

.btnClear:hover, .btnClearPreviousHistory:hover {
    color: rgb(213, 94, 94);
}

.btnEqual:hover {
    color: rgb(189, 255, 57);
}

.btnOperator:hover {
    color: rgb(0, 123, 255);
}